# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/vcs.xml
#service-provider/admin-provider/src/main/java/com/vpclub/admin/client/MenuBaseInfoClientImpl.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/client/MenuBaseInfoDaoController.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/client/RoleBaseInfoClientImpl.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/client/RoleBaseInfoController.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/dao/MenuBaseInfoDao.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/dao/RoleBaseInfoDao.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/mapper/MenuBaseInfoMapper.xml
#service-provider/admin-provider/src/main/java/com/vpclub/admin/mapper/RoleBaseInfoMapper.xml
#service-provider/admin-provider/src/main/java/com/vpclub/admin/service/MenuBaseInfoService.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/service/RoleBaseInfoService.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/service/SysUserInfoService.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/service/impl/MenuBaseInfoServiceImpl.java
#service-provider/admin-provider/src/main/java/com/vpclub/admin/service/impl/RoleBaseInfoServiceImpl.java
web-api/admin-api/src/main/java/com/vpclub/admin/client/MenuBaseInfoDaoController.java
#web-api/admin-api/src/main/java/com/vpclub/admin/client/RoleBaseInfoController.java
#web-api/admin-api/src/main/java/com/vpclub/admin/client/SysUserInfoController.java
web-api/admin-api/src/main/java/com/vpclub/admin/service/MenuBaseInfoDaoService.java
web-api/admin-api/src/main/java/com/vpclub/admin/service/RoleBaseInfoBaseInfoService.java
#web-api/admin-api/src/main/java/com/vpclub/admin/service/RoleBaseInfoService.java
#web-api/admin-api/src/main/java/com/vpclub/admin/service/SysUserInfoService.java
common-eureka/target/generated-sources/
common-gateway/target/classes/com/vpclub/GatewayApplication.class
common-gateway/target/classes/com/vpclub/aspect/
common-gateway/target/classes/com/vpclub/config/
common-gateway/target/classes/com/vpclub/constant/
common-gateway/target/classes/com/vpclub/dao/UserFunctionDAO.class
common-gateway/target/classes/com/vpclub/entity/
common-gateway/target/classes/com/vpclub/redis/
common-gateway/target/classes/com/vpclub/service/
common-gateway/target/classes/com/vpclub/web/
common-gateway/target/classes/org/
common-gateway/target/generated-sources/
common/common-model/target/generated-sources/
common/common-util/target/generated-sources/
common/common-web-api/target/generated-sources/
common/common-web-provider/target/generated-sources/
feign/common-feign/target/classes/com/vpclub/admin/client/MenuBaseInfoClient.class
feign/common-feign/target/classes/com/vpclub/admin/client/RoleBaseInfoClient.class
feign/common-feign/target/classes/com/vpclub/admin/client/SysUserInfoClient.class
feign/common-feign/target/classes/com/vpclub/admin/entity/MenuBaseInfoEntity.class
feign/common-feign/target/classes/com/vpclub/admin/entity/OrgHistoryInfoEntity.class
feign/common-feign/target/classes/com/vpclub/admin/entity/OrgLogsInfoEntity.class
feign/common-feign/target/classes/com/vpclub/admin/entity/OrgUserInfoEntity.class
feign/common-feign/target/classes/com/vpclub/admin/entity/RoleBaseInfoEntity.class
feign/common-feign/target/classes/com/vpclub/admin/entity/SysAreaInfoEntity.class
feign/common-feign/target/classes/com/vpclub/admin/entity/SysCheckUserEntity.class
feign/common-feign/target/classes/com/vpclub/admin/entity/SysUserInfoEntity.class
feign/common-feign/target/classes/com/vpclub/admin/entity/UserRoleInfoEntity.class
feign/common-feign/target/generated-sources/
#service-provider/admin-provider/target/classes/com/vpclub/admin/client/MenuBaseInfoClientImpl.class
service-provider/admin-provider/target/classes/com/vpclub/admin/client/MenuBaseInfoController.class
service-provider/admin-provider/target/classes/com/vpclub/admin/client/RoleBaseInfoClientImpl.class
service-provider/admin-provider/target/classes/com/vpclub/admin/client/RoleBaseInfoController.class
service-provider/admin-provider/target/classes/com/vpclub/admin/client/SysUserInfoClientImpl.class
service-provider/admin-provider/target/classes/com/vpclub/admin/dao/MenuBaseInfoDao.class
service-provider/admin-provider/target/classes/com/vpclub/admin/dao/RoleBaseInfoDao.class
service-provider/admin-provider/target/classes/com/vpclub/admin/mapper/MenuBaseInfoMapper.xml
service-provider/admin-provider/target/classes/com/vpclub/admin/mapper/RoleBaseInfoMapper.xml
service-provider/admin-provider/target/classes/com/vpclub/admin/service/MenuBaseInfoService.class
service-provider/admin-provider/target/classes/com/vpclub/admin/service/RoleBaseInfoService.class
service-provider/admin-provider/target/classes/com/vpclub/admin/service/SysUserInfoService.class
service-provider/admin-provider/target/classes/com/vpclub/admin/service/impl/MenuBaseInfoServiceImpl.class
service-provider/admin-provider/target/classes/com/vpclub/admin/service/impl/RoleBaseInfoServiceImpl.class
service-provider/admin-provider/target/generated-sources/
service-provider/boot-provider/target/generated-sources/
web-api/admin-api/target/classes/com/vpclub/admin/client/SysUserInfoController.class
web-api/admin-api/target/classes/com/vpclub/admin/service/MenuBaseInfoService.class
web-api/admin-api/target/classes/com/vpclub/admin/service/RoleBaseInfoService.class
web-api/admin-api/target/classes/com/vpclub/admin/service/SysUserInfoService.class
web-api/admin-api/target/generated-sources/
web-api/boot-api/target/generated-sources/
#/service-provider/admin-provider/src/main/java/com/vpclub/admin/client/MenuBaseInfoClientImpl.java
