# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/vcs.xml
service-provider/admin-provider/src/main/java/com/vpclub/admin/client/MenuBaseInfoClientImpl.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/client/MenuBaseInfoDaoController.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/client/RoleBaseInfoClientImpl.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/client/RoleBaseInfoController.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/dao/MenuBaseInfoDao.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/dao/RoleBaseInfoDao.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/mapper/MenuBaseInfoMapper.xml
service-provider/admin-provider/src/main/java/com/vpclub/admin/mapper/RoleBaseInfoMapper.xml
service-provider/admin-provider/src/main/java/com/vpclub/admin/service/MenuBaseInfoService.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/service/RoleBaseInfoService.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/service/SysUserInfoService.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/service/impl/MenuBaseInfoServiceImpl.java
service-provider/admin-provider/src/main/java/com/vpclub/admin/service/impl/RoleBaseInfoServiceImpl.java
web-api/admin-api/src/main/java/com/vpclub/admin/client/MenuBaseInfoDaoController.java
web-api/admin-api/src/main/java/com/vpclub/admin/client/RoleBaseInfoController.java
web-api/admin-api/src/main/java/com/vpclub/admin/client/SysUserInfoController.java
web-api/admin-api/src/main/java/com/vpclub/admin/service/MenuBaseInfoDaoService.java
web-api/admin-api/src/main/java/com/vpclub/admin/service/RoleBaseInfoBaseInfoService.java
web-api/admin-api/src/main/java/com/vpclub/admin/service/RoleBaseInfoService.java
web-api/admin-api/src/main/java/com/vpclub/admin/service/SysUserInfoService.java
