<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vpclub.admin.dao.SysMenuDao">

	<select id="queryListParentId" resultType="com.vpclub.admin.entity.SysMenuEntity">
		select * from sys_menu where parent_id = #{parentId} order by order_num asc
	</select>

	<select id="queryNotButtonList" resultType="com.vpclub.admin.entity.SysMenuEntity">
		select * from sys_menu where menu_type != 2 order by order_num asc
	</select>

	<select id="queryListType" resultType="java.lang.Long">
		select menu_id from sys_menu where type = #{type} and deleted = 1
	</select>

</mapper>